.cover-img {
  position: relative;
}

.cover-img-number {
  background: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  padding: 10px;
}
